<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Tickets</title>
  
</head>
<body>
    <div class="container">
        <h1>Your Tickets</h1>

        {% if tickets %}
            <table>
                <thead>
                    <tr>
                        <th>Concert</th>
                        <th>Buyer Name</th>
                        <th>Email</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in tickets %}
                        <tr>
                            <td>{{ ticket.concert.name }}</td>
                            <td>{{ ticket.buyer_name }}</td>
                            <td>{{ ticket.email }}</td>
                            <td>{{ ticket.quantity }}</td>
                            <td>${{ ticket.total_price}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You do not have any tickets.</p>
        {% endif %}
    </div>
</body>
</html>


