<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="{{ product.image.url }}" alt="{{ product.name }}">

    <h2>{{ product.name }}</h2>
    <p>{{ product.description }}</p>
    <p>Price: ${{ product.price }}</p>
    
    <!-- Check if the product is in the cart -->
    {% if cart %}
      <p>This product is already in your cart. Quantity: {{ cart.quantity }}</p>
      <a href="{% url 'remove_from_cart' cart.id %}">Remove from Cart</a>
    {% else %}
      <form method="POST" action="{% url 'add_to_cart' id=product.id %}">
        {% csrf_token %}
        <button type="submit">Add to Cart</button>
      </form>
    {% endif %}

    <!-- Check if the product is in the cart -->
    {% comment %} {% if cart %}
    <p>This product is already in your cart. Quantity: {{ cart.quantity }}</p>
    <a href="{% url 'remove_from_cart' cart.id %}">Remove from Cart</a>
    {% else %}
    <form method="POST" action="{% url 'add_to_cart' id=product.id %}">
        {% csrf_token %}
        <button type="submit">Add to Cart</button>
    </form>
    {% endif %} {% endcomment %}

</body>
</html>